{% extends "base.html" %} {% block title %}Auth Options{% endblock %} {% block
content %}
<div class="flex flex-col gap-2">
    <main class="flex flex-col gap-2 items-center">
        <h3 class="no-margin">Account Required</h3>

        <div
            class="card round flex flex-col gap-2"
            style="width: 25rem; max-width: 100dvw"
            id="options"
        >
            <a
                href="{{ base.starstraw }}/spirit/login"
                class="button !w-full round tertiary"
                data-wants-redirect="true"
            >
                Login
            </a>
            <a
                href="{{ base.starstraw }}/spirit/register"
                class="button !w-full round tertiary"
                data-wants-redirect="true"
            >
                Register
            </a>
        </div>

        <div style="width: 25rem; max-width: 100dvw">
            <hr class="my-2" />

            <div class="flex justify-center footernav">
                <span class="item"><a href="/">Homepage</a></span>
                <span class="item">
                    <a href="https://github.com/hkauso/pongo">Source Code</a>
                </span>
            </div>
        </div>
    </main>
</div>

<script>
    setTimeout(() => {
        trigger("app:gen_secret", [
            "note-error",
            "Cannot access page",
            "You are missing the permissions required to view this page.",
        ]);
    }, 25);
</script>
{% call super() %} {% endblock %}
